
categories_api/static/

categories_api/.idea/

.idea/

categories_api/categories_api/__pycache__/

categories_api/main/__pycache__/

categories_api/main/migrations/__pycache__/

docker/dockerfiles/uwsgi.Dockerfile

uwsgi.ini

docker/docker_data/nginx/nginx.conf

docker/docker-compose.yml

categories_api/db.sqlite3

categories_api/categories_api/local_settings.py
